*{
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    
}
body {
    background-color: #e7eeec;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 50;
}

.h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 45px;
    font-size: 40px;
}

.text {
    height: 40px;
    width: 400px;
    border: none;
    outline: none;
    border-radius: 7px;
}

.btn{
    height: 40px;
    width: 45px;
    background-color: #3ca33d;
    border: none;
    border-radius: 5px;
}











